/*FORMATO*/

* {
	margin:0;
	padding:0;
}
html {
	background:color: rgb(255,255,255) no-repeat top center;
	static;
}
body {
	background:url(../images/PNG/01fundopreto.png) no-repeat top center;
	width: 800px;
	margin: 0 auto;
}

/*BOX*/
#box {
	width:788px;
	height: 900px;
	margin:0 auto;
	top center;
}

/*HEADER*/
#header {
	width:788px;
	height:120px;
}

#header_home {
	width:61px;
	height:61px;
	background: url(../images/PNG/MENU/menu.png) no-repeat;
	float:left;
	margin-top:14px;
}

#header_menu { 
	margin:0; 
	padding:0;
}
	
#header_menu li {
	list-style:none;	
	display:inline;
}

#header_menu li a {
	float:left;
	margin-left: 5px;
	margin-top: 14px;
	border:1px solid #f00;
	border-top:0.1em solid #EF4E23;
	border-right:0.1em solid #EF4E23;
	border-bottom:0.1em solid #EF4E23;
	border-left:0.1em solid #EF4E23;
	width:59px;
	height:59px;
	font: 10px "Trebuchet MS",Arial, Helvetica, sans-serif, bold;
	background:black;
	color:#EF4E23;
	text-align:center;
 	line-height:60px;
	text-decoration:none;
}
	
#header_menu a:hover{
	background:#EF4E23;
	color:black;
	border-color:#EF4E23;
	border-color:#EF4E23 #EF4E23 #EF4E23 #EF4E23;
}

#header_malh {
	width:326px;
	height:61px;
	background: url(../images/PNG/MENU/malha.png) no-repeat;
	float:left;
	margin-top:14px;
	margin-left:4px;
}

/*CONTENT*/
/*INDEX.PHP*/
#content {
	width:788px;
}
#content_left {
	width:580px;
	float: left;
}
#content_bloco01 {
	width:257px;
	height:277px;
	background: url(../images/PNG/bloco01.png) no-repeat;
	float:left;
	margin-left: 12px;
	padding:10px;
}
#content_bloco01 h1 {
	font: 18px "Trebuchet MS",Arial, Helvetica, sans-serif;
	color: #EF4E23;
	font-weight: bold;
	margin:5px 0;
	text-align: center;
	margin-top:50px;
}
#content_bloco01 p {
	font: 12px "Trebuchet MS",Arial, Helvetica, sans-serif;
	color: black;
	font-weight: bold;
	text-align: justify;
}
#content_home {
	width:257px;
	height:277px;
	background: url(../images/PNG/jtechhome.png) no-repeat;
	float:left;
	padding:10px;
}
#content_borda {
	width:555px;
	height:1px;
	background: url(../images/PNG/MENU/borda.png) no-repeat;
	float:left;
	margin-left: 11px;
	margin-top: 0px;
	margin-bottom:13px;
}
#content_network {
	width:257px;
	height:277px;
	background: url(../images/PNG/network.png) no-repeat;
	float:left;
	margin-top: 14px;
	margin-left: 12px;
	padding:10px;
}
#content_bloco02 {
	width:257px;
	height:277px;
	background: url(../images/PNG/bloco02.png) no-repeat;
	margin-top: 14px;
	float:left;
	padding: 10px;
}
#content_bloco02 p {
	font: 12px "Trebuchet MS",Arial, Helvetica, sans-serif;
	color: black;
	font-weight: bold;
	text-align: justify;
	margin-top:95px;
}

#content_right {
	width:208px;
	float: right;
}
#content_menunews {
	width:188px;
	height:25px;
	background: url(../images/PNG/MENU/menunews.png) no-repeat;
	float: right;
	margin-right: 11px;
}
#content_fundonews {
	width:188px;
	height:756px;
	background: url(../images/PNG/MENU/fundonews.png) no-repeat;
	float: right;
	margin-right: 11px;
}
/*SERVICOS.PHP*/

#content_bloco01_serv {
	width:257px;
	height:277px;
	background: url(../images/PNG/bloco01.png) no-repeat;
	float:left;
	margin-left: 12px;
	padding: 10px;
}
#content_bloco01_serv h1 {
	font: 18px "Trebuchet MS",Arial, Helvetica, sans-serif;
	color: #EF4E23;
	font-weight: bold;
	text-align: center;
	margin-top:35px;
	margin-bottom:5px;
}
#content_bloco01_serv p {
	font: 12px "Trebuchet MS",Arial, Helvetica, sans-serif;
	color: black;
	font-weight: bold;
	text-align: justify;
}
#content_server_serv {
	width:257px;
	height:277px;
	background: url(../images/PNG/dedicated-server.png) no-repeat;
	float:left;
	padding: 10px;
}
#content_cable_serv {
	width:257px;
	height:277px;
	background: url(../images/PNG/cable.png) no-repeat;
	float:left;
	margin-left: 12px;
	margin-top: 14px;
	padding: 10px;
}
#content_bloco02_serv {
	width:257px;
	height:277px;
	background: url(../images/PNG/bloco02.png) no-repeat;
	float:left;
	margin-top: 14px;
	padding: 10px;
}
#content_bloco02_serv h1 {
	font: 18px "Trebuchet MS",Arial, Helvetica, sans-serif;
	color: #EF4E23;
	font-weight: bold;
	text-align: center;
	margin-top:35px;
	margin-bottom:5px;
}
#content_bloco02_serv p {
	font: 12px "Trebuchet MS",Arial, Helvetica, sans-serif;
	color: black;
	font-weight: bold;
	text-align: justify;
}
#content_menunews {
	width:188px;
	height:25px;
	background: url(../images/PNG/MENU/menunews.png) no-repeat;
	float: right;
	margin-right: 11px;
}
#content_fundonews {
	width:188px;
	height:755px;
	background: url(../images/PNG/MENU/fundonews.png) no-repeat;
	float: right;
	margin-right: 11px;
}
/*SUPRIMENTOS.PHP*/

#content_bloco01_supr {
	width:257px;
	height:277px;
	background: url(../images/PNG/bloco01.png) no-repeat;
	float:left;
	margin-left: 12px;
	padding: 10px;
}
#content_bloco01_supr h1 {
	font: 18px "Trebuchet MS",Arial, Helvetica, sans-serif;
	color: #EF4E23;
	font-weight: bold;
	text-align: center;
	margin-top:5px;
	margin-bottom:5px;
}
#content_bloco01_supr p {
	font: 12px "Trebuchet MS",Arial, Helvetica, sans-serif;
	color: black;
	font-weight: bold;
	text-align: justify;
	margin-left: 10px;
}
#content_hd_supr {
	width:257px;
	height:277px;
	background: url(../images/PNG/hd.png) no-repeat;
	float:left;
	padding: 10px;
}
#content_supr_supr {
	width:257px;
	height:277px;
	background: url(../images/PNG/jtechhome.png) no-repeat;
	float:left;
	margin-left: 12px;
	margin-top: 14px;
	padding: 10px;
}
#content_bloco02_supr {
	width:257px;
	height:277px;
	background: url(../images/PNG/bloco02.png) no-repeat;
	float:left;
	margin-top: 14px;
	padding: 10px;
}
#content_bloco02_supr h1 {
	font: 18px "Trebuchet MS",Arial, Helvetica, sans-serif;
	color: #EF4E23;
	font-weight: bold;
	margin:5px 0;
	text-align: center;
	margin-top: 100px;
}
#content_menunews {
	width:188px;
	height:25px;
	background: url(../images/PNG/MENU/menunews.png) no-repeat;
	float: right;
	margin-right: 11px;
}
#content_fundonews {
	width:188px;
	height:755px;
	background: url(../images/PNG/MENU/fundonews.png) no-repeat;
	float: right;
	margin-right: 11px;
}
/*INSTITUCIONAL.PHP*/

#content_bloco01_inst {
	width:257px;
	height:277px;
	background: url(../images/PNG/bloco01.png) no-repeat;
	float:left;
	margin-left: 12px;
	padding: 10px;
	overflow-x: hidden;
}
#content_bloco01_inst h1 {
	font: 18px "Trebuchet MS",Arial, Helvetica, sans-serif;
	color: #EF4E23;
	font-weight: bold;
	text-align: center;
	margin-top:55px;
	margin-bottom:5px;
}
#content_bloco01_inst p {
	font: 12px "Trebuchet MS",Arial, Helvetica, sans-serif;
	color: black;
	font-weight: bold;
	text-align: justify;
}
#content_gpl_inst {
	width:257px;
	height:277px;
	background: url(../images/PNG/gpl.png) no-repeat;
	float:left;
	padding: 10px;
}
#content_bloco02_inst {
	width:541px;
	height:257px;
	background: url(../images/PNG/equipe.png) no-repeat;
	float:left;
	margin-left: 12px;
	margin-top: 14px;
	padding: 10px;
	overflow-x: hidden;
	margin-bottom:0px;
}
#content_bloco02_inst h1 {
	font: 18px "Trebuchet MS",Arial, Helvetica, sans-serif;
	color: #EF4E23;
	font-weight: bold;
	margin:5px 0;
	text-align: center;
}
#content_bloco02_inst p {
	font: 12px "Trebuchet MS",Arial, Helvetica, sans-serif;
	color: black;
	font-weight: bold;
	text-align: justify;
}
#content_menunews {
	width:188px;
	height:25px;
	background: url(../images/PNG/MENU/menunews.png) no-repeat;
	float: right;
	margin-right: 11px;
}
#content_fundonews {
	width:188px;
	height:755px;
	background: url(../images/PNG/MENU/fundonews.png) no-repeat;
	float: right;
	margin-right: 11px;
}
/*EQUIPE.PHP*/

#content_equipe_jairo {
	width:541px;
	height:277px;
	background: url(../images/PNG/equipe.png) no-repeat;
	float:left;
	margin-left: 12px;
	padding: 10px;
}
#content_equipe_jairo h1 {
	font: 18px "Trebuchet MS",Arial, Helvetica, sans-serif;
	color: #EF4E23;
	font-weight: bold;
	margin:5px 0;
	text-align: left;
	margin-left:10px;
	margin-right:10px;
}
#content_equipe_jairo h2 {
	font: 12px "Trebuchet MS",Arial, Helvetica, sans-serif;
	color: #EF4E23;
	font-weight: bold;
	margin:5px 0;
	text-align: left;
	margin-left:10px;
	margin-right:10px;
}
#content_equipe_jairo p {
	font: 12px "Trebuchet MS",Arial, Helvetica, sans-serif;
	color: black;
	font-weight: bold;
	text-align: justify;
	margin-left:10px;
	margin-right:10px;
}
#content_equipe_andre {
	width:541px;
	height:277px;
	background: url(../images/PNG/equipe.png) no-repeat;
	float:left;
	margin-left: 12px;
	margin-top: 14px;
	padding: 10px;
}
#content_equipe_andre h1 {
	font: 18px "Trebuchet MS",Arial, Helvetica, sans-serif;
	color: #EF4E23;
	font-weight: bold;
	margin:5px 0;
	text-align: left;
	margin-left:10px;
	margin-right:10px;
}
#content_equipe_andre h2 {
	font: 12px "Trebuchet MS",Arial, Helvetica, sans-serif;
	color: #EF4E23;
	font-weight: bold;
	margin:5px 0;
	text-align: left;
	margin-left:10px;
	margin-right:10px;
}
#content_equipe_andre p {
	font: 12px "Trebuchet MS",Arial, Helvetica, sans-serif;
	color: black;
	font-weight: bold;
	text-align: justify;
	margin-left:10px;
	margin-right:10px;
}
#content_menunews {
	width:188px;
	height:25px;
	background: url(../images/PNG/MENU/menunews.png) no-repeat;
	float: right;
	margin-right: 11px;
}
#content_fundonews {
	width:188px;
	height:755px;
	background: url(../images/PNG/MENU/fundonews.png) no-repeat;
	float: right;
	margin-right: 11px;
}
/*CONTATO.PHP*/

#content_bloco01_cont {
	width:257px;
	height:277px;
	background: url(../images/PNG/bloco01.png) no-repeat;
	float:left;
	margin-left: 12px;
	padding: 10px;
}
#content_bloco01_cont h1 {
	font: 18px "Trebuchet MS",Arial, Helvetica, sans-serif;
	color: #EF4E23;
	font-weight: bold;
	margin:5px 0;
	text-align: center;
	margin-top:50px;
}
#content_bloco01_cont p {
	font: 12px "Trebuchet MS",Arial, Helvetica, sans-serif;
	color: black;
	font-weight: bold;
	text-align: center;
}
#content_contato_cont {
	width:257px;
	height:277px;
	background: url(../images/PNG/contact.png) no-repeat;
	float:left;
	padding: 10px;
}
#content_social_cont {
	width:257px;
	height:277px;
	background: url(../images/PNG/social.png) no-repeat;
	float:left;
	margin-left: 12px;
	margin-top: 14px;
	padding: 10px;
}
#content_bloco02_cont {
	width:257px;
	height:278px;
	background: url(../images/PNG/bloco02.png) no-repeat;
	float:left;
	margin-top: 14px;
	padding: 10px;

}
#content_bloco02_cont h1 {
	font: 18px "Trebuchet MS",Arial, Helvetica, sans-serif;
	color: #EF4E23;
	font-weight: bold;
	margin:5px 0;
	text-align: center;
	margin-top:55px;
}
#content_menunews {
	width:188px;
	height:25px;
	background: url(../images/PNG/MENU/menunews.png) no-repeat;
	float: right;
	margin-right: 11px;
}
#content_fundonews {
	width:188px;
	height:563px;
	background: url(../images/PNG/MENU/fundonews.png) no-repeat;
	float: right;
	margin-right: 11px;
}

/*FOOTER*/
#footer {
	list-style: none;
	background: url(../images/PNG/RODAPE/footer.png) no-repeat 0 0;
	position: relative;
	width: 788px;
	height: 122px;
	margin-top: 625px;
	padding: 0;
}

#footer a{
	display: block;
	height: 100%;

}
#footer a span {
	display: none;
}

#footer a:hover span {
	display: block;
}

#footer a{
	display: block;
	height: 100%;
	text-decoration: none;
}

#footer a:hover span {
	display: block;
	width: 788px;
	height: 122px;
	background: #000;
	position: relative;
	font: 11px Arial, Helvetica, sans-serif;
	opacity: .40;
	filter:alpha(opacity=40);
	color: #FFF;
}