/*Estilos gerais*/
a{
  color: #333;
}

a:hover{
  color: #333;
}

/*Estilos de ícones*/
.flaticon-facebook-logo-button, .flaticon-instagram-logo, .flaticon-twitter-logo-button, .flaticon-email{
  margin-right: 5%;
  font-size: 2em;
}

/*Estilos de fontes, paragrafos, títulos e etc*/
h2{
  font-size: 2.0em;
}

h3{
  font-size: 1.6em;
}

p{
  font-size: 1em;
}

footer{
  border-top: 1px solid #d0d0d0;
  padding-top: 30px;
  padding-bottom: 15px;
}

.copyright{
  border-top: 1px solid #d0d0d0;
  margin-top: 15px;
  padding-top: 15px;
}

/*media query mobile*/
@media (max-width: 767px){
  .navbar-inverse .navbar-nav > li > a:hover,
  .navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #ff3c07;
  }

  .padding-text{
    padding: 40px;
  }

  #bs-example-navbar-collapse-1 .glyphicon{
    display: inline-block;
    text-align: left;
  }

  #bs-example-navbar-collapse-1 .glyphicon::after{
    width: 30px;
    display: block;
    content: "";
  }

  #logotipo-menu{
    height: 30px;
    top: -5px;
    position: relative;
  }

  .home-content{
    top: 76px;
    position: relative;
  }

  #logotipo{
    position: relative;
    max-width: 100%;
    height: auto;
    display: block;
  }

  .page-header{
    background-color: white;
    border: none;
  }

  .thumbnail{
    border: none;
    background-color: #f3f3f3;
  }
}


/*media query desktop*/
@media (min-width: 768px) {
  .navbar-inverse .navbar-nav > li > a:hover,
  .navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #ff3c07;
  }

  #bs-example-navbar-collapse-1 .glyphicon{
    font-size: 1.6em;
    display: block;
    line-height: 1.2;
    text-align: center;
  }

  #logotipo{
    position: relative;
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 25px;
    margin-left: 25px;
  }

  .page-header{
    background-color: #f5f5f5;
    border: none;
    min-height: 240px;
  }

  .thumbnail{
    min-height: 300px;
    border-radius: 0px;
    border: none;
  }

  .home-content{
    top: 76px;
    position: relative;
  }
}
